body {
	font-size: 16px;
    font-family: arial, bold;
	background-image: url("http://images.all-free-download.com/images/graphiclarge/metal_background_of_highdefinition_picture_4_169712.jpg");
	background-size:100%;
}

