body {
	font-size: 16px;
    font-family: Copperplate Gothic, bold;
	background-image: url("http://th09.deviantart.net/fs70/PRE/f/2012/016/0/8/galaxy_by_jayce76-d4mkyq7.png");
	background-size:100%;
	background-repeat: repeat-y;
}

