body {
	font-size: 16px;
	color: ;
	font-family: 'Lobster', cursive;
	background-image: url("http://www.joleetablecloths.co.uk/ekmps/shops/jolee/images/dotty-smoke-grey-polka-dot-oilcloth-tablecloth-21362-p.jpg");
	background-size:100%;
}

